.homebanner {
    background-image: url('/assets/bike.jpg');
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.nav-text {
    color: #204657 !important;
    font-weight: 600;
    margin: 0 10px;
}

.navbar-toggler-icon {
    color: #204657 !important;
}

.navigation {
    background-color: transparent !important;
}

.blue {
    background-color: #9bcdff;
}